<div class="nav-bar">
    <img class="logo" src="../../assets/img/logo.png"/>
    <div class="title">Auto Parts</div>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Ffjautopartszw%2F&layout=button_count&size=small&width=89&height=40&appId" width="109" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
&nbsp;    
<a class="nav-link" [routerLink]="['/about']">About</a>
<a class="nav-link" href="#services">Services</a>
<a class="nav-link" [routerLink]="['/blog']">Blog</a>
<a class="nav-link" href="#contact">Contact Us</a>
<button class="request-btn" mat-raised-button color="warm">Request Quote</button>



</div> 
