<div class="footer">
    <div class="footer-item">
        <h4>About Us</h4>
            <div>
                FJ Auto Parts is one of the best spares companies in Zimbabwe.
                 We have sold countless car spares building an excellent reputation for providing reliable products
                 over the course of our existence.
            </div>
            </div>
        <div class="footer-item">
            <h4>FJ Auto Parts</h4>
                <div>
                    sales@fjautoparts.co.zw<br/> <br/>
                    <div>
                    <img class="social-media-icons" src="../../assets/img/twitter-icon-basic-round-social-iconset-s-icons-0.png"/>
                    <a  href="https://www.facebook.com/fjautopartszw/" target="_blank">
                        <img class="social-media-icons" src="../../assets/img/facebook_circle-512.png"/></a>
                    <img class="social-media-icons" src="../../assets/img/instagram-512.png"/>
                </div>
            </div>
        </div>
        <div class="footer-item">
            <h4>Locate Us</h4>
            <div>
                31 rotten row rd <br>
                 Harare <br>
                 Seke Road, <br>
                 +263 734926814<br/>
                
            </div>
        </div>
</div>
<div class="copyright">
    2020 &copy; FJ Auto Parts. All Rights Reserved 
    </div>