<div class="container">



    <div class="header-section">
          
        <app-header></app-header>
    </div>

    <div class="carousel-section">
              
        <div  class="swiper-container" [swiper]="config" >
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                   <img class="slider" src="../assets/img/hilux.jpg"/>
                   
                  </div>
                  <div class="swiper-slide">
                        <img class="slider" src="../assets/img/banner.png"/>
                        
                  </div>
                  <div class="swiper-slide">
                        <img class="slider" src="../assets/img/2019-Toyota-Camry-Banner.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img class="slider" src="../assets/img/bannerm2.jpg"/>
              </div> 
                </div>
              
                
              </div>

    </div>

    <div class="content-section">
            
           
            <div class="services"> 
                <h2 id="services">Services</h2>
                   <dl>
                       <dt class="service-title"><h3>Parts Sales</h3></dt>
                       <dd >
                           <div class="services-container">
                               <div class="service-desc" >
                                FJ Auto Parts is tredning for genuine toyota auto parts and auto spares in Zimbabwe. 
                                If you need high quality aftermarket parts, services kits, car accessories or car care products to keep your vehicle in great shape, you've come to the right place. 
                                You can enquire about our wide range of automotive products to find exactly what you need. Get the details of our location
                                 using our handy map.
                    
                               </div>
                        
                                 <div>
                                    <img  class="service-parts" src="../assets/img/1_jZpq-IymzglOSy9l9hAfjQ.png"/>
                                    <img  class="service-parts" src="../assets/img/genuine-parts-body-parts-940x626.jpg"/>
                                </div>
                           </div>
                      
                       </dd>

                   </dl>
           <div class="divider">
                <div class="divider-line"></div>
           </div>
                   <dl>
                        <dt class="service-title"><h3>Service Kits</h3></dt>
                        <dd>

                                <div class="services-container alternate">
                                        <div class="service-desc">
                                            FJ Auto Parts is the right place for all genuine Toyota service kits. 
                                            Engine oil needs to be filtered to remove impurities and reduce wear on critical engine components. 
                                            This helps maintain proper oil viscosity and extend the life of your Toyota. 
                                            Toyota Genuine Oil Filters are designed with exact specifications for the flow rate, filter quality, and oil capacity of your Toyota.

                             
                                        </div>
                                 
                                          <div>
                                            <img  class="service-parts" src="../assets/img/toyota-genuine-parts-90915-yzze2-oil-filter-vivahouz-1703-01-vivahouz@10.jpg"/>
                                                <img  class="service-parts" src="../assets/img/oil-filters_fee6_172.jpg"/>
                                                
                                         </div>
                                    </div>
                      
                            </dd>
                    </dl>
                    
                    <div class="divider">
                        <div class="divider-line"></div>
                   </div>
        
                   <dl>
                            <dt class="service-title"><h3>Suspension</h3></dt>
                            <dd>

                                    <div class="services-container ">
                                            <div class="service-desc">
                                             When you are driving a Toyota, you expect a smooth ride regardless of the terrain. 
                                             The suspension is the part of your vehicle that is responsible for that ride being smooth. 
                                              The parts included in the suspension system are parts like bearings, linkage, springs and shock absorbers.
                                               Head over to our shop for quality suspension.
                                               
                                 
                                            </div>
                                     
                                              <div>
                                                    <img class="service-parts" src="../assets/img/k53132.jpg"/>
                                                    <img class="service-parts" src="../assets/img/Piston-Kit-Cylinder-Kit-Brake-Master.jpg"/>
                                             </div>
                                        </div>
                        
                            </dd>
                            
                        </dl>
                        <!-- <div class="divider">
                            <div class="divider-line"></div>
                       </div>
                        <dl>
                            <dt class="service-title"><h3>Accessories</h3></dt>
                            <dd>

                                    <div class="services-container alternate ">
                                            <div class="service-desc">
                                                FJ Auto Parts offers best price for Genuine Toyota Accessories online. 
                                                Make an inquiry and choose from our selection of interior and exterior accessories!
                                 
                                            </div>
                                     
                                              <div>
                                                    <img class="acc-parts" src="../assets/img/download.png"/>  
                                                    
                                                
                                             </div>
                                        </div>
                        
                              
                            </dd>
                            
                        </dl> 
            </div>-->
           <!-- <div >
                <share-button [theme]="'default'"
                [button]="'twitter'"
                [showText]="true"
                [showCount]="true"
                [url]="'https://twitter.com/'"
               ></share-button>
               
                <share-button [theme]="'default'"
                [button]="'facebook'"
                [showText]="true"
                [showCount]="true"
                [autoSetMeta]="false"
               ></share-button>

               <share-button [theme]="'default'"
               [button]="'whatsapp'"
               [showText]="true"
               [showCount]="true"
               [url]="'fj-auto-parts.firebaseapp.com'"
              ></share-button>--->

  
              

            </div>
            <br>
    </div>
    <div class="contact-us">
        <div  class="contact-form"> <h2 id="contact">Make an Inquiry</h2>

            <div class="contact-field">
                <div class="field label">Email</div>
                <div class="field-control"> <input class="form-input" [(ngModel)]="email" type="text"  placeholder="Your Email"/></div>
            </div>

            <div class="contact-field">
                <div class="field label">Phone Number</div>
                <div class="field-control"><input class="form-input" [(ngModel)]="phone" type="text" placeholder="Your Phone Number" /></div>
            </div>

            <div class="contact-field">
                <div class="field label">Message</div>
                <div class="field-control"><textarea class="form-text" [(ngModel)]="message" rows="5"  placeholder="message"></textarea></div>
            </div>
<br/>
            <button class="send-button" (click)="sendMail()">Send</button>
        

            
        </div>
        <div class="location">
               
                <mgl-map
                [style]="'mapbox://styles/mapbox/streets-v9'"
                [zoom]="[13]"
                [center]="[31.038541, -17.834413]">
              
              <mgl-marker
              [lngLat]="[31.038541, -17.834413]">
            
              <div
                 class="marker">
                <img width="40" src="../assets/img/location-icon-transparent-background-2.jpg">
            
        
              </div>
            </mgl-marker>
              </mgl-map>
        </div>
            
    </div>
    
    <div class="footer-section">
        <app-footer></app-footer>
       

    </div>

</div>